<div class="container">

  <%= bootstrap_form_with(model: @product, local: true, label_errors: true) do |f| %>
    <%= f.text_field :title, label: "Product Name" %>
    <%= f.text_area :description %>
    <%= f.text_field :image_url %>
    <%= f.number_field :price_cents %>
    <%= f.submit "Create" %>
  <% end %>
</div>
</div>
