<!DOCTYPE html>
<html>
  <head>
    <title>A little store to buy things!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag("logo.svg") %>
  </a>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Store</a>

<% if session[:user_id] %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link", <%= link_to 'Orders', orders_path %><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link", <%= link_to 'Products', products_path %><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link", <%= link_to 'Users', users_path %><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link", <%= link_to 'Logout', logout_url, method: :delete %></a>
        </li>
      </ul>
    </div>
    <% else %>

    <a class="navbar-brand" <%= link_to 'Login', login_path %></a>

    <% end %>
  </nav>
</nav>
  </head>

  <body>
    <header>
      <h1><%= @page_title %></h1>
    </header>
    <div class="container-fluid">
      <div class="row">
    <div class="col-sm-3">
    <div class="card">
         <%= render_if @cart && @cart.line_items.any?, @cart %>
    </div>
  </div>
  <div class="col">
    <main class='<%= controller.controller_name %>'>
    <%= yield %>
    </main>
    </div>
  </div>
</div>
  </body>
</html>
